body {
    background-color: #000;
}

.header {
    position: relative;
    background-color: black;
    height: 75vh;
    min-height: 25rem;
    width: 100%;
    overflow: hidden;
}



.nav-link {
    font-size: 15px;
    color: #fff; 
    margin: 0px 30px;
    transition: opacity .25s ease-in-out;
    font-family: 'Gotu', serif;
}

.nav-link:hover { 
    color: #e4e2e2;
    opacity: 0.5; 
    transition: 0.5s;
}

h1 {
    font-family: "Gotu" , serif;
    font-size: 100px;
}

p {
    font-family: "Abel" , serif;
    color: white;
}
  
header video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: 0;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}
  
header .container {
    position: relative;
    z-index: 2;
}
  
header .overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: 0.3;
    z-index: 1;
}

section {
    position: relative;
    background-color: black;
    height: 75vh;
    min-height: 25rem;
    width: 100%;
    overflow: hidden;
}

  
section .img-fluid {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: 0;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}
  
section .container {
    position: relative;
    z-index: 2;
}
  

.btn {
    padding: 25px 35px;
    font-size: 20px;
    font-family: 'Abel', sans-serif;
}


/* Projects */
section .overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: 0.75;
    z-index: 1;
}

.grid-p {
    text-align: center;
    font-size: 20px;
}



/* Contact page */
body {
    background-color: #000;
}




/* .row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
    align-items: center;
    justify-content: center;
    margin: auto;
}
  
.column {
    flex: 50%;
    max-width: 50%;
}
  
.column img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
} */




@media (min-width: 400px) {
    h1 {
        font-size: 40px;
    }

    .display-5 {
        font-size: 30px
    }

    .display-6 {
        font-size: 15px;
    }

    .display-4 {
        font-size: 30px
    }

    .column {
        flex: 100%;
        max-width: 100%;
    }

    .col-lg {
        margin-right: none;
    }
}

@media (min-width: 760px) {
    h1 {
        font-size: 40px;
    }

    .display-4 {
        font-size: 50px
    }

    .display-5 {
        font-size: 40px
    }

    .display-6 {
        font-size: 23px;
    }

    .column {
        flex: 50%;
        max-width: 50%;
    }

    .col-lg {
    }
    
}